# Exclude development-only files from the distributed package (composer dist archives).
/.github        export-ignore
/tests          export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore
/.idea          export-ignore
/.phpunit.cache export-ignore
/phpunit.xml    export-ignore
